.conteudo {
  min-height: calc(100vh - 2rem);
  min-width: 248px;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  display: flex;
  border-radius: 10px;
}

.direita {
  width: 15vw;
  min-width: 150px;
  min-height: calc(100vh - 74px);
  height: fit-content;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.esquerda {
  flex-grow: 1;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.exibirDireitaProCima {
  margin-left: 10px !important;
  transition: margin-left 0.7s linear;
}

@media screen and (max-width: 600px) {
  .direita {
    position: absolute;
    margin-left: -55vh;
    width: 50vw;
    transition: margin-left 0.7s linear;
  }

  .esquerda {
    margin: 10px 10px 10px 10px;
  }
}
