.conteudo {
  min-height: calc(100vh - 2rem);
  min-width: 248px;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  display: flex;
  border-radius: 10px;
}

.direita {
  width: 30%;
  min-width: 30%;
  min-height: calc(100vh - 4rem);
  height: fit-content;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.esquerda {
  flex-grow: 1;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .direita {
    display: none;
  }

  .esquerda {
    margin: 10px 10px 10px 10px;
  }
}
